.faq-category-set {
    margin-top: 3px;
  }
  
  .faq-category-child {
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    border: 1px solid grey;
    background-color: #fff;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  
  .faq-category-child:hover {
    font-weight: bolder;
    border-color: black;
  }
  
  .faq-category-child.faq-active {
    border: none;
    font-weight: 800;
    background: rgb(12, 77, 162);
    color: #fff;
  }